/* Basic Margin Config */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}

/* General */

/* Left Info Part */
.main-info{
    height: 100vh;
    background-color: #BFC1C2;
}
.body-info{
    background-color: #FADADD;
    position: relative;
    min-height: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-info::before{
    content: "No hay información para mostrar";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    text-align: center;
}
.body-info:not(:empty)::before{
    display: none;
}

#attach-files{
    width: max-content;
    height: 100px;
    border: 2px dashed #888;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #888;
}
#attach-files.hover{
    background-color: #f0f0f0;
}

/* Right Map Part */